@model IEnumerable<Laboratorio4ED1.Models.UserInformation>

@{
    ViewBag.Title = "Lista de desarrolladores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de desarrolladores</h2>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Lista de tareas de " + item.Nombre , "SeeDeveloperTasks", new { UserName = item.Username }, new { @class = "btn btn-primary btn-lg" })

            </td>
        </tr>
    }

</table>
<br />
<br />
<div style="text-align:right">
    @Html.ActionLink("- Cerrar sesion -", "Index")
</div>
