@{
    Layout = null;
}

@model Laboratorio4ED1.ModelViews.ManagerViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Organizador de tareas</title>
</head>
<body>
    <br />
    <br />
    <br />
    <h1 style="text-align: center;">Sign in</h1>
    @using (Html.BeginForm("Login", "Manager"))
    {
        @ViewBag.Error
    <table style="margin: auto;" cellpadding="3" cellspacing="3">
        <tr>
            <td>@Html.LabelFor(model => model.manager.user)</td>
            <td>@Html.TextBoxFor(model => model.manager.user)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.manager.password)</td>
            <td>@Html.TextBoxFor(model => model.manager.password)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Ingresar"/></td>
        </tr>
    </table>
    }
    <br />
    <br />
    <div style="text-align: center;" >
        @Html.ActionLink("- Crear cuenta -", "CreateAccount");
    </div>
</body>
</html>
