@using Laboratorio4ED1.Models
@model Laboratorio4ED1.Models.Task

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Bienvenido a su organizador de tareas en línea</h1>
    </div>
    <br />

    <text>
        Titulo: @model.Titulo;
        Descripcion: @model.Descripcion;
        Proyecto: @model.Proyecto;
        Prioridad: @model.Prioridad;
        Entrega: @model.Entrega;
    </text>

    <div class="form-group" style="text-align: center">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Siguiente tarea" class="btn btn-success" />
        </div>
    </div>

    <div style="text-align: right">
        @Html.ActionLink("Agregar tarea - ", "AddTask")
        @Html.ActionLink("Cerrar Sesion", "Index")
    </div>
</body>
</html>
